.aaaa
{
  border: 3px solid red;
  width: 75%;
  height: 451px;

  margin: 5% 10%;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #e1e947;
}

.tv
{
  margin: 1px;

  display: flex;
  flex-direction: row;
  border: 3px solid #e94790;

  height: 450px;
  justify-content: space-between;
}

.atm
{
  border: 3px solid #47e9b0;
  width: 70%;
  background-color:white;
}

.radio
{
  width: 25%;

  border: 3px solid #4747e9;
  background-color:white;
}

