<div class="grid-container">

  <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">

        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title> {{ card.title }} </mat-card-title>
            <mat-card-subtitle> {{ card.subtitle }} </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>

            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>

  <div class="A">
    <div class="B">
      <h1>B</h1>


    </div>

    <div class="C">
      <h1>C</h1>
      <div class="example-container">

        <mat-form-field class="email-example" appearance="fill">
          <p><label for="male">Nome: </label>
          <input matInput placeholder="Seu nome"></p>

          <label for="male">Email: </label>
          <input matInput placeholder="Escreva seu email aqui" [formControl]="email" required>

          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="D">
      <h1>D</h1>
    </div>
  </div>
</div>
