.grid-container
{
  width: 75%;
  margin: 5% 10%;
  padding: 0;
  border-radius: none;
}

.dashboard-card
{
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content
{
  text-align: center;
}

img
{
  height: 80%;
}

.A
{
  margin: 3% 2% 3% 2%;
  width: 96%;
  display: flex;
  flex-direction: row;
  height: 600px;

}

.B
{
  margin-right: 3%;

  width: 85%;
  height: 100%;
  color: black;
  background-color: white;
  border-radius: 1.5%;
}

.C
{
  margin: 0;
  width: 49%;
  height: 30%;
  background-color:rgb(238, 171, 62);
  border-radius: 1.5%;
  border: solid 3px black;
}

.example-container
{
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;

  color: #130901;
  background-color: white;
  margin-bottom: 30px;
  border:solid 1px blue;
}

.email-example
{
  margin-left: 18px;
}

.D
{
  margin: 0;
  margin-top: 240px;
  margin-left: -36%;
  width: 49%;
  height: 60%;
  background-color:rgb(238, 171, 62);
  border-radius: 1.5%;
}


