<div class="grid-container">

  <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">

        <div class="sessao-dois">
          <img class ="img-podcast" mat-card-image [src]="card.image"
               alt="Photo of a Shiba Inu">
               <figcaption class="title">{{ card.title }}</figcaption>
               <figcaption class="subtitle"><h2>{{ card.subtitle }}</h2></figcaption>
        </div>

      </mat-grid-tile>
  </mat-grid-list>

  <div class="A">

    <div class="B">
      <h1 class="space"></h1>
      <table class="table table-hover">

        <tbody>
          <tr *ngFor="let n of news">
            <td><img [src]="n.imageUrl"></td>
            <td>
                <mat-card-title> {{ n.title }} </mat-card-title><br>
                <mat-card-subtitle> {{ n.text }} </mat-card-subtitle>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="C">
      <form action="/action_page.php">
        <div class="abc">
          <div class="form-row">
              <input type="text" class="form-control" placeholder="Nome">
              <input type="text" class="form-control" placeholder="Email">
              <button class="button" type="submit" mat-raised-button>Cadastrar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="D">
      <h1>PUBLICIDADE</h1>
    </div>
  </div>
</div>
