<div class="grid-container">

  <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">

        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title> {{ card.title }} </mat-card-title>
            <mat-card-subtitle> {{ card.subtitle }} </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>

            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>

  <div class="A">

    <div class="B">

      <h1 class="space"></h1>

      <table class="table table-hover">
        <tbody>

          <tr *ngFor="let n of news">
            <td><img [src]="n.imageUrl"></td>
            <td>
                <mat-card-title> {{ n.title }} </mat-card-title><br>
                <mat-card-subtitle> {{ n.text }} </mat-card-subtitle>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="C">
      <h1>C</h1>

      <hr>

      <form #courseForm="ngForm">

        <label>Name</label>
        <div class="form-group">
          <!--<input [(ngModel)]="register.name"
                     name="name" #registerName="ngModel">
                     [ngClass]="'{is invalid': registerName.invalid}"-->

            <div class="invalid-feedback">
              <span>Email inválido</span>
            </div>
        </div>

        <label>Email</label>
        <div class="form-group">
          <!--<input [(ngModel)]="register.name"
                     name="email" #registerEmail="ngModel">
                     [ngClass]="'{is invalid': registerEmail.invalid}"-->

            <div class="invalid-feedback">
              <span>Email inválido</span>
            </div>
        </div>

      </form>
    </div>

    <div class="D">
      <h1>D</h1>
    </div>
  </div>
</div>
