/*============= MAIN TOOLBAR =============*/
.toolbar
{
  border: 2px solid black;
  background-color: #0b37d8;
  justify-content: flex-start;
  text-align: center;
  justify-content: flex-start;
}

mat-toolbar
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.social-media
{
  margin-right: 15px;
  align-items: center;
}

.social-media img
{
  height: 30px;
  margin-left: 1px;
  margin-right: 15px;
}

.example-spacer
{
  text-align: center;
  font-size: 28px;
  font-weight: bold;

  background: linear-gradient(to right, #0b37d8 60%, rgb(238, 171, 62) 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer
{
  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 24px;
  background-color: #0b37d8;
  padding: 2%;
}

a
{
  color: white;
  text-decoration: none;
}



