<h1>card-list</h1>
<div class="aaaa">

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Games">
      <div class="A">
        <div class="C">
          <img  src="./assets/image/swords.png" alt="Shiba Inu">
        </div>
        <div class="B">
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Series">
      <div class="A">
        <div class="C">
          <img  src="./assets/image/swords.png" alt="Shiba Inu">
        </div>
        <div class="B">
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Filmes">
      <div class="A">
        <div class="C">
          <img  src="./assets/image/swords.png" alt="Shiba Inu">
        </div>
        <div class="B">
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Tech">
      <div class="A">
        <div class="C">
          <img  src="./assets/image/swords.png" alt="Shiba Inu">
        </div>
        <div class="B">
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
          <p>Estoque baixo deve seguir devido a falta de componentes para o novo console, indica executivo</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

