<mat-toolbar>
  <span class="example-spacer">SPA TEST</span>

  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>


<div class="container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">

          <div class="toolbar">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Series</a></li>
              <li><a href="#">Filmes</a></li>
            </ul>
          </div>

      </div>
    </mat-tab>

    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

